apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "pulse.fullname" . }}-migrator
  labels:
    {{- include "pulse.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: migrator
          image: "{{ .Values.migrator.image.repository }}:{{ .Values.migrator.image.tag }}"
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: pulse-db-secret
                  key: url

